<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>Задание</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="../styles/main.css">
	</head>
<body>
	<section class="block-1">
		<div class="content-row images">
			<div class="content-cell">
				<img src="./img/image1.png" alt="">
			</div>
			<div class="content-cell">
				<img src="./img/image1.png" alt="">
			</div>
			<div class="content-cell">
				<img src="./img/image1.png" alt="">
			</div>
			<div class="content-cell">
				<img src="./img/image1.png" alt="">
			</div>
		</div>

		<div class="content-row titles">
			<div class="content-cell">
				<p class="title-text">
					Lorem ipsum dolor sit amet
				</p>

				<span class="date">
					12.11.1991
				</span>
			</div>
			<div class="content-cell">
				<p class="title-text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, expedita!
				</p>

				<span class="date">
					12.11.1991
				</span>
			</div>
			<div class="content-cell">
				<p class="title-text">
					Lorem ipsum dolor sit amet
				</p>

				<span class="date">
					12.11.1991
				</span>
			</div>
			<div class="content-cell">
				<p class="title-text">
					Lorem ipsum dolor sit amet
				</p>

				<span class="date">
					12.11.1991
				</span>
			</div>
		</div>

		<div class="content-row texts">
			<div class="content-cell">
				<p>
					Конструкцию из композитного материала изготавливают
					непосредственно на модели без какой-либо дополнительной
				</p>
			</div>
			<div class="content-cell">
				<p>
					Конструкцию из композитного материала изготавливают
					непосредственно на модели без какой-либо дополнительной
				</p>
			</div>
			<div class="content-cell">
				<p>
					Конструкцию из композитного материала изготавливают
					непосредственно на модели без какой-либо дополнительной
				</p>
			</div>
			<div class="content-cell">
				<p>
					Конструкцию из композитного материала изготавливают
					непосредственно на модели без какой-либо дополнительной
				</p>
			</div>
		</div>
	</section>
</body>
</html>
